/* mixins are below in case need to use variables in _colors.scss */
@import url("https://fonts.googleapis.com/css?family=Jura:500|Josefin+Slab");
body {
  background-image: url("../images/waves_pattern.png");
  font-family: "Josefin Slab", Times, serif;
  font-size: 18px;
}

h6 {
  font-family: Jura, Georgia, sans-serif;
}

h5 {
  font-family: Jura, Georgia, sans-serif;
}

h4 {
  font-family: Jura, Georgia, sans-serif;
}

h3 {
  font-family: Jura, Georgia, sans-serif;
}

h2 {
  font-family: Jura, Georgia, sans-serif;
}

h1 {
  font-family: Jura, Georgia, sans-serif;
}

h1 {
  color: white;
}

footer {
  background-color: #BBC1AF;
}

.hero-top {
  background: url("../images/header.jpg") no-repeat center top;
  background-size: cover;
}

.container {
  height: 400px;
}
